@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: Outfit;
}

@layer utilities {
  /* Small devices */
  .text-home-heading-small {
    font-size: 28px;
    line-height: 34px;
  }

  /* Medium and up */
  @media (min-width: 768px) {
    .md\:text-home-heading-large {
      font-size: 48px;
      line-height: 56px;
    }
  }

  .text-course-details-heading-small {
    font-size: 26px;
    line-height: 36px;
  }

  .text-course-details-heading-large {
    font-size: 36px;
    line-height: 44px;
  }

  .text-default {
    font-size: 15px;
    line-height: 21px;
  }
}